
.btn {
  font-size: 20px;
  background-color: white;
  color: black;
  border: 2px solid #000;
  padding: 20px 40px;
  margin: 20px 20px 0 30%;
}
.numb {
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
}
